<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
       /* .ok{background-color: red;
            height: 50px;
        }
        .pa{
            color: yellow;
        }*/

       .container-choose-type{
           border: 1px solid black;
           padding-right: 10px;
           max-width: 400px;
       }

       .angle-down{
           float: right;
       }

       .clearfix::after {
           content: "";
           clear: both;
           display: table;
       }

       .container-information{
           font-size: 20px;
           padding-right: 10px;
           cursor: pointer;
       }

        .container-level{
            float: left;
            width: 20%;
            height: 25vh;
            padding: 5px;
            background-color: yellow;
            border-right: 1px solid black;
        }

        .angle-right{
            float: right;
        }
    </style>
    <script src="https://kit.fontawesome.com/a59c2f3f1f.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-choose-type" onclick="showOrHiddenType()">
        <span id="typeInformation">Chọn loại</span>
        <i class="angle-down fa-solid fa-angle-down"></i>
    </div>

    <div id="container-type" class="clearfix" th:style="(not ${isShowType}) ? 'display: none':''">
        <div class="container-level">
            <input id="1" type="hidden" th:value="${level1Id}">
            <input id="information1" type="hidden" th:value="${level1Information}">
            <div class="row" th:each="level1 : ${level1s}">
                <input type="hidden" th:value="${level1.id}">
                <div class="container-information clearfix" th:classappend="(${level1Id} == ${level1.id}) ? 'selected-container-information':''">
                    <span th:text="${level1.name}" th:style="(not ${level1.hasReferenced}) ? 'font-weight: bold':''">information</span>
                    <i class="angle-right fa-solid fa-angle-right" th:if="${level1.hasReferenced}"></i>
                </div>
            </div>
        </div>
        <div class="container-level" th:if="${level2s} != null">
            <input id="2" type="hidden" th:value="${level2Id}">
            <input id="information2" type="hidden" th:value="${level2Information}">
            <div class="row" th:each="level2 : ${level2s}">
                <input type="hidden" th:value="${level2.id}">
                <div class="container-information clearfix" th:classappend="(${level2Id} == ${level2.id}) ? 'selected-container-information':''">
                    <span th:text="${level2.name}" th:style="(not ${level2.hasReferenced}) ? 'font-weight: bold':''">information</span>
                    <i class="angle-right fa-solid fa-angle-right" th:if="${level2.hasReferenced}"></i>
                </div>
            </div>
        </div>
        <div class="container-level" th:if="${level3s} != null">
            <input id="3" type="hidden" th:value="${level3Id}">
            <input id="information3" type="hidden" th:value="${level3Information}">
            <div class="row" th:each="level3 : ${level3s}">
                <input type="hidden" th:value="${level3.id}">
                <div class="container-information clearfix" th:classappend="(${level3Id} == ${level3.id}) ? 'selected-container-information':''">
                    <span th:text="${level3.name}" th:style="(not ${level3.hasReferenced}) ? 'font-weight: bold':''">information</span>
                    <i class="angle-right fa-solid fa-angle-right" th:if="${level3.hasReferenced}"></i>
                </div>
            </div>
        </div>
        <div class="container-level" th:if="${level4s} != null">
            <input id="4" type="hidden" th:value="${level4Id}">
            <input id="information4" type="hidden" th:value="${level4Information}">
            <div class="row" th:each="level4 : ${level4s}">
                <input type="hidden" th:value="${level4.id}">
                <div class="container-information clearfix" th:classappend="(${level4Id} == ${level4.id}) ? 'selected-container-information':''">
                    <span th:text="${level4.name}" th:style="(not ${level4.hasReferenced}) ? 'font-weight: bold':''">information</span>
                    <i class="angle-right fa-solid fa-angle-right" th:if="${level4.hasReferenced}"></i>
                </div>
            </div>
        </div>
        <div class="container-level" th:if="${level5s} != null">
            <input id="5" type="hidden">
            <div class="row" th:each="level5 : ${level5s}">
                <input type="hidden" th:value="${level5.id}">
                <div class="container-information">
                    <span th:text="${level5.name}" th:style="'font-weight: bold'">information</span>
                </div>
            </div>
        </div>
    </div>

    <p th:text="${typeInformation}">para</p>

    <!--<p>FIRST</p>
    <p th:text="${param.tuan}"></p>
    <div class="ok" th:class="(${param.i1} == 10) ? 'an' : 'gam'">div 1</div>
    <div class="ok" th:class="(${param.i1} != 10) ? 'trung' : 'vang'">div 2</div>
    <div class="ok" th:class="(${param.i1} == ${i2}) ? 'md' : 'mdnnn'">div 3</div>
    <div class="ok" th:class="(${param.i1} != ${i2}) ? 'nam' : 'tuan anh'">div 4</div>
    <div class="ok" th:class="(${param.s1} == 'str') ? 'a1' : 'g1'">div 5</div>
    <div class="ok" th:class="(${param.s1} == 'other') ? 't1' : 'v1'">div 6</div>
    <div class="ok" th:class="(${param.s1} == ${s2}) ? 'messi' : 'neymar'">div 7</div>
    <div class="ok" th:class="(${param.s1} != ${s2}) ? 'khang' : 'khanh'">div 8</div>
    <button th:if="${param.tuan} != null">my button ok</button>
    <p th:class="${model} == 'm' ? 'thanh thuy' : 'bich tuyen'">thanh thuy</p>
    <p th:class="${model} == 'mss' ? 'thanh thuy' : 'bich tuyen'">bich tuyen</p>-->

    <!--<h1 th:if="${model} != null" th:text="${model}">1</h1>
    <h2 th:if="${messi} != null" th:text="${messi}">2</h2>
    <h2 th:if="${neymar} != null" th:text="${neymar}">2</h2>
    <div class="ok">
        <div th:each="item : ${array}">
            <p th:text="${item}"></p>
        </div>
    </div>
    <p>duoi array</p>
    <div class="ok">
        <div th:each="item : ${arrayEmpty}">
            <p th:text="${item}"></p>
        </div>
    </div>

    <p>duoi arrayEmpty</p>
    <div class="ok">
        <div th:each="item : ${arrayList}">
            <p th:text="${item}"></p>
        </div>
    </div>-->
<!--    <p>day la paragragh</p>-->


    <script>
        const containerInformationElements = document.getElementsByClassName("container-information");
        for(const containerInformationElement of containerInformationElements){
            containerInformationElement.addEventListener("click", function (){
                const informationElement = containerInformationElement.firstElementChild;
                const level = containerInformationElement.parentElement.parentElement.firstElementChild.id;
                let url = "/temp?"
                let isSpecialCase = false;
                if(level === "4" && document.getElementById("information1").value === "Đề kiểm tra"){
                    isSpecialCase = true;
                }
                if(informationElement.style.fontWeight === "bold" || isSpecialCase){
                    let typeId = "";
                    for(let i = 1; i < level; i++){
                        typeId += document.getElementById(i).value + "-";
                    }
                    typeId += containerInformationElement.previousElementSibling.value;
                    let typeInformation = "";
                    for(let i = 1; i < level; i++){
                        typeInformation += document.getElementById("information" + i).value + "-";
                    }
                    typeInformation += informationElement.textContent;
                    url += "typeId=" + typeId + "&typeInformation=" + typeInformation;

                }else{
                    for(let i = 1; i < level; i++){
                        url += "level" + i + "=" + document.getElementById(i).value + "&";
                    }
                    url += "level" + level + "=" + containerInformationElement.previousElementSibling.value;
                }
                window.location.href = url;
            })
        }

        function showOrHiddenType() {
            const containerType = document.getElementById("container-type");
            if (containerType.style.display === "none") {
                containerType.style.display = "block";
            } else {
                containerType.style.display = "none";
            }
        }
    </script>
</body>
</html>